# Weighted model caching hax
public net.minecraft.client.resources.model.WeightedBakedModel list
public net.minecraft.util.random.WeightedRandomList totalWeight

# ModelBakery hacks
public net.minecraft.client.resources.model.ModelBakery topModels
public net.minecraft.client.resources.model.ModelBakery unbakedModels
public net.minecraft.client.resources.model.ModelBakery$ModelBakerImpl
public net.minecraft.client.resources.model.ModelBakery$ModelBakerImpl <init>(Lnet/minecraft/client/resources/model/ModelBakery;Lnet/minecraft/client/resources/model/ModelBakery$TextureGetter;Lnet/minecraft/client/resources/model/ModelResourceLocation;)V