# canRenderInLayer hook
public net.minecraft.client.renderer.block.model.WeightedBakedModel baseModel

# Texture metadata injection
public net.minecraft.client.Minecraft metadataSerializer

# Weighted model caching hax
public net.minecraft.client.renderer.block.model.WeightedBakedModel getRandomModel(J)Lnet/minecraft/client/renderer/block/model/IBakedModel;

# ItemModelMesher
public net.minecraft.client.renderer.ItemModelMesher shapers
public net.minecraft.client.renderer.ItemModelMesher getMetadata(Lnet/minecraft/item/ItemStack;)I
